body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}
.main-container {
  width: 100%;
}
.flex-container {
  display: flex;
  width: 100%;
  background-color: black;
  height: 100px;
  justify-content: space-around;
}
.menu {
  min-width: 100px;
  color: white;
  font-size: 1.5em;
  text-align: center;
  align-self: center;
}
.image-container {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center
}
#banner-image {
  width: 100%;
  opacity: 0.75;
}
.banner-title {
  position: absolute;
  text-align: center;
  font-size: 5em;
}
.banner-subtitle {
  position: absolute;
  text-align: center;
  margin-top: 45px;
  font-size: 2em;
}
.skill-container {
  display: flex;
  justify-content: center;
  height: 325px;
}
.skill {
  flex: 1;
  margin-top: 40px;
  text-align: center;
}
#image {
  width: 150px;
  height: 150px;
}
#skill-text {
  color: black;
  font-weight: bold;
  text-align: center;
  font-size: 2em;
}
.skills-heading {
  display: flex;
  widows: 100%;
  height: 100px;
  background-color: black;
  font-size: 2em;
  margin-bottom: 150px;
  justify-content: center;
}
.skills-title {
  text-align: center;
  padding-top: 10px;
  margin-top: 100px;
}
.portfolio-heading {
  display: flex;
  widows: 100%;
  height: 25;
  font-size: 2em;
  justify-content: center;
}
.portfolio-title {
  text-align: center;
}
.portfolio-container {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 100px;
  margin-bottom: 100px;
}
#portfolioimg {
  height: 400px;
  width: 300px;
  align-self: center;
  border-radius: 25px;
}
.portfolio-description {
  margin-left: 20px;
}
.portfolio-name {
  font-size: 2em;
  text-align: left;
}
.portfolio-info {
  font-size: 1em;
  text-align: left;
  color: gray;
  width: 300px;
}
hr {
  width: 50%;
  align-self: center;
}
.testimonials-heading {
  display: flex;
  widows: 100%;
  height: 25;
  margin-top: 10px;
  font-size: 2em;
  margin-bottom: 10px;
  justify-content: center;
}
.testimonials-title {
  text-align: center;
}
.testimonials {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
}
.client-name{
  margin-top: 100px;
  width: auto;
  height: 50px;
  font-size: 2em;
  text-align: center
}
/* Reducing code duplication but retaining the unique % */
/* Looking into centering things w/ Flex might be a good idea too*/

.client-designation{
  width: auto;
  height: 50px;
  font-size: 1.5em;
  color: gray;
  text-align: center;
}

.client-testimonial{
  width: auto;
  height: 50px;
  font-size: 1.5em;
  color: gray;
  font-style: italic;
  text-align: center;
}